@font-face {
    font-family: "neodgm";         // 이름 선언
    src: url("/fonts/neodgm.ttf"); // 내가 저장한 경로!
}

.hp{
    width: 100%;
    height: 20px;
    background-color: red;
}
.mp{
    width: 100%;
    height: 20px;
    background-color: blue;
}
.pogame{
    background-color: rgb(2, 2, 2);
    height: 500px; 
}
.margin-1{
    margin-left: -1.5rem;
}
.bg-gray{
    background-color: #808080;
}
.swiper-pointer-events {
    margin-top: 5rem;
}
.swiper-pagination{
    background-color: rgba(253, 253, 253, 0);
}

.fts{
    font-size: 1.8rem;
}

.skill_l{
    border-top: dashed 1px;
}
.skill_r{
    border-top: dashed 1px;
    border-left: dashed 1px;
}

.line::after{
    content: "";
    display: block;
    border-bottom: solid 1px white;
    width: 150px;
    margin: 5px 0;
        @media (max-width:768px){
                content: "";
                display: block;
                border-bottom: solid 1px white;
                width: 100px;
                margin: 3px 0px;
        }
    
}

.ofh{
    overflow: hidden;
}
.dlfur{
    border:dashed 1px; 
    
}

textarea{
    border: solid 1px rgb(8, 241, 0);
    height: 15rem;
    padding-left: 1rem;
    font-size: 1rem;
    resize: none;
    margin-bottom: -0.7rem;
}
textarea:focus {
    outline: none;
}
textarea::placeholder{
    color: #04f714;
}

input::placeholder{
    color: #04f714;
    font-size: 0.8rem;
}
input:focus {
    outline: none;
}
.border{
    border-color: #04f714 !important;
}
.work input,.lang input{
    margin-left: 0.5rem;
}

.work label,.lang label{
    margin-left: 1rem;
    margin-right: 1rem;
}
.one{
    border: dashed 2px;
}
.tow{
    border-top: dashed 2px;
    border-right: dashed 2px;
    border-bottom: dashed 2px;
}

.name{
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-right: solid 2px;
}
.talk{
    border-top: solid 2px;
    border-bottom: solid 2px;
}

input[name=company],[name=company_w],[name=talk],[name=day],[name=trip-start]{
    width: 95%;
    border: 0;
}
input::placeholder{
    color: #808080;
    font-size: 1rem;
    text-align: start;
}
.company_w{
    border-left: solid 1px ;
}
.talk_line{
    border-left: solid 1px;
}
.home{
padding-right: 2rem;
}
.potimg{
    height: 50px;
}
input[type=submit]{
    border-bottom: solid 2px;
}
.onejpg{
    padding-top: 60%;
}
.duqor{
    margin-left: 0.5rem;
}
.skillimg spen img{
    width: 50px;
    height: 55px;
}
:root {
    --swiper-theme-color: #0af166 !important;
}
input[type=checkbox]{
    accent-color: #04f714;
}
input[type="checkbox"] {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 5px solid rgb(146, 143, 143);
    appearance: none;
  }

  input[type="checkbox"]:checked {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
  }

@media (max-width:500px){
    .skill_l p, .skill_r p{ font-size:1rem;}
}
@media (max-width:500px){
    .dlfurt p, .dlfurt spen{ font-size:1rem;}
}
@media (max-width:500px){
    .wkrurwmd p{ font-size:1rem;}
}
@media (max-width:440px){
    
}
@media (max-width:1399px){
    .skill_l p, .skill_r p{ font-size:1rem; }
}



  










*{
    font-family: "neodgm", sans-serif;
    font-size: 1.2rem;
    color: #04f714;
    background-color: rgb(9, 9, 24);
}
li{
    list-style: none;
}
.h100vh{ height: 100vh;}



#root{
    
    a{
        color:rgb(255, 255, 255);
        font-size: 1.5rem;
       
    }
    a:hover{
        color:#ffff00;
    }

    h1{
        max-width:9.5rem;
        svg{
            height:4rem;
            transform-origin: center;
            transition: 0.5s;
        }

    }
    

    #hd{
        background-color: rgb(9, 9, 24);
        &.scroll{
            background-color: rgb(9, 9, 24);
           
            a{
                color:white;
            }
            h1 svg{
                transform: translateY(0);
                g{
                    g{ fill: white;}
                }
                
                #blackIcon{
                    transform: translateY(0);
                }
                #deaback{
                    transform: translateY(0);
                }

            }
            

        }
        #allMenu{
            font-weight: 500;
        }

        .mobileNavi{
            position: absolute;
            top: calc(100% + 1px);
            left:0;
            right:0;
            background-color: rgb(0, 0, 0);
            max-height: 0;
            overflow: hidden;
            transition:  max-height 0.5s ease-out;

            a{
                color:rgb(255, 255, 255) !important
            }

            &:before,
            &:after{
                content: "";
                display: block;
                height: 1rem;

            }

            &.on{
                max-height: calc(100vh - 50px);
                z-index: 100;
                
            }

        }
        
    }
    .workSection{
        .swiper-wrapper{
            
             .swiper-slide{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                height: 0;
                padding-bottom: 60%;
            }
             .react{
                background:url(https://img.cjthemarket.com/images/file/display/586/20221122103138241.jpg?RS=1920x500) no-repeat center;
                background-size: cover;
                @media (max-width:768px) {
                    background-image: url(https://img.cjthemarket.com/images/file/display/084/20220901181851256.png?RS=1920x500);
                    
                }
             }
        }
        .swiper-scrollbar-horizontal{
            height: 2px;
            bottom:0;
            left:0;
            right:0;
            width:100%;
        }
    }

    
}

